<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Interface.Properties.Settings.highlandConnectionString"
      connectionString="Driver={ODBC Driver 18 for SQL Server};server=tcp:highlanddb.database.windows.net,1433;uid=vudance;app=Microsoft® Visual Studio®;wsid=CHISTHANH;database=highland"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>